'd;lfv;ldsk'

In [12]:
"dlkjfdl"

'dlkjfdl'

In [13]:
'''dsvdfvdvds'''

'dsvdfvdvds'

In [15]:
'father"s'

'father"s'

In [16]:
"father"s"

SyntaxError: invalid syntax (<ipython-input-16-6a0535e4942d>, line 1)

In [18]:
type("father's")

str

In [19]:
# data types in python

# 1. String
# 2. List
# 3. Tuple
# 4. Binary/boolean
# 5. Dictionary
# 6. sets
# 7. array/matrix.... tuple+list >>>
# 8. dataframe.....~

NameError: name 'dlsfkds' is not defined

In [21]:
type([])

list

In [ ]:
# list ..... collection of items saved in a closed brac

In [ ]:
[0,1]....close brackets#           list...2 int
0 and 1 is included in this ...

(0,1)....open brackets ..... tuple... 2 int

0 and 1 is not included in this 
interval....

In [24]:
# good things about list

# store a dataset or a variable in python by assigning a name to it....

Rajput = 'He is very brave.'

In [25]:
Rajput

'He is very brave.'

In [26]:
Nitin = ['U.P','Bijnor',0,'02/11/1998','Red','Delhi',77,5,600000,True]

In [ ]:
# cntrl + enter

In [27]:
Nitin

['U.P', 'Bijnor', 0, '02/11/1998', 'Red', 'Delhi', 77, 5, 600000, True]

In [35]:
# list filter....
# in the end of a list write . and then click tab
Nitin.append('John Abrahim')
Nitin

['U.P',
 'Bijnor',
 0,
 '02/11/1998',
 'Red',
 'Delhi',
 77,
 5,
 600000,
 True,
 'John Abrahim',
 'John Abrahim',
 'John Abrahim']

In [36]:
Nitin.count('John Abrahim')

3

In [37]:
Nitin.count(0)

1

In [44]:
Damodar = [2,'Kurnool',10]

In [42]:
Nitin.extend(Damodar)

In [43]:
Nitin

['U.P',
 'Bijnor',
 0,
 '02/11/1998',
 'Red',
 'Delhi',
 77,
 5,
 600000,
 True,
 'John Abrahim',
 'John Abrahim',
 'John Abrahim',
 2,
 'Kurnool',
 10,
 2,
 'Kurnool',
 10]

In [46]:
Nitin.index(2)

13

In [47]:
len(Nitin)

19

In [48]:
Nitin.insert(0,'Rajput')

In [69]:
Nitin.pop(-1)

10

In [63]:
### Nitin.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [70]:
Nitin

['Bijnor',
 'Rajput',
 'U.P',
 0,
 '02/11/1998',
 'Red',
 'Delhi',
 77,
 5,
 600000,
 True,
 'John Abrahim',
 2,
 'Kurnool',
 10,
 2,
 'Kurnool']

In [67]:
abc = [1,2,3,4,2,32,4,3,4,33,4]
abc.sort(reverse = True)

In [68]:
abc

[33, 32, 4, 4, 4, 4, 3, 3, 2, 2, 1]

In [ ]:
# dataframe.....

In [74]:
# filter....
Nitin[6] # one argument filtering...

#multiple...  3rd value ... 2:4

# 3rd,4th,

Nitin[2:4]
0,1,2
2:4 .... 2-4... 3,4
  
a:n
    
a+1,a+2,.....,n-1

3-(n-1)

['U.P', 0]

In [76]:
Nitin

['Bijnor',
 'Rajput',
 'U.P',
 0,
 '02/11/1998',
 'Red',
 'Delhi',
 77,
 5,
 600000,
 True,
 'John Abrahim',
 2,
 'Kurnool',
 10,
 2,
 'Kurnool']

In [78]:
Nitin[5:-1]

# 6,7,....n-1

['Red', 'Delhi', 77, 5, 600000, True, 'John Abrahim', 2, 'Kurnool', 10, 2]

In [82]:
Nitin[0] = 'Bulandshahar'

In [83]:
Nitin

['Bulandshahar',
 'Rajput',
 'U.P',
 0,
 '02/11/1998',
 'Red',
 'Delhi',
 77,
 5,
 600000,
 True,
 'John Abrahim',
 2,
 'Kurnool',
 10,
 2,
 'Kurnool']

In [87]:
Nitin[4] = '11/02/1998'

In [91]:
# dataframe.....

TypeError: list indices must be integers or slices, not tuple

In [94]:
# nested list....list inside a list...
rahul = [11,2,3,4,5,6,[2,3,4,5,6,7,'TajMahal',['Mumtaz']]]
# output
# Tajmahal Mumtaz

In [101]:
abc = rahul[-1]
abc[6]

'TajMahal'

In [99]:
abc2 = abc[-1]

In [103]:
abc2[0]

'Mumtaz'

In [108]:
abc[6] + ' ' + abc2[0]

'TajMahal Mumtaz'

In [109]:
rahul[-1][6]

'TajMahal'

In [110]:
rahul[-1][-1][0]

'Mumtaz'

In [111]:
rahul[-1][-1][0] + " " + rahul[-1][6]

'Mumtaz TajMahal'

In [106]:
print(Nitin)

# John Delhi Abrahim

[1, 2, 3, 4, '11/02/1998', 'Red', 'Delhi', 77, 5, 600000, True, 'John Abrahim', 2, 'Kurnool', 10, 2, 'Kurnool']

In [112]:
Nitin[11][0:4] +' '+Nitin[6] +' '+Nitin[11][4:]

'John Delhi  Abrahim'

In [114]:
Nitin + rahul # concatenating.....

[1,
 2,
 3,
 4,
 '11/02/1998',
 'Red',
 'Delhi',
 77,
 5,
 600000,
 True,
 'John Abrahim',
 2,
 'Kurnool',
 10,
 2,
 'Kurnool',
 11,
 2,
 3,
 4,
 5,
 6,
 [2, 3, 4, 5, 6, 7, 'TajMahal', ['Mumtaz']]]

In [116]:
# replication...
rahul*3

[11,
 2,
 3,
 4,
 5,
 6,
 [2, 3, 4, 5, 6, 7, 'TajMahal', ['Mumtaz']],
 11,
 2,
 3,
 4,
 5,
 6,
 [2, 3, 4, 5, 6, 7, 'TajMahal', ['Mumtaz']],
 11,
 2,
 3,
 4,
 5,
 6,
 [2, 3, 4, 5, 6, 7, 'TajMahal', ['Mumtaz']]]

In [117]:
Nitin

[1,
 2,
 3,
 4,
 '11/02/1998',
 'Red',
 'Delhi',
 77,
 5,
 600000,
 True,
 'John Abrahim',
 2,
 'Kurnool',
 10,
 2,
 'Kurnool']

In [85]:
Nitin[0:4] = 1,2,3,4


0,1,2,3

In [86]:
Nitin

[1,
 2,
 3,
 4,
 '02/11/1998',
 'Red',
 'Delhi',
 77,
 5,
 600000,
 True,
 'John Abrahim',
 2,
 'Kurnool',
 10,
 2,
 'Kurnool']

In [118]:
2*True - True + 2*False

1

In [121]:
# boolean conditions
dfg= [123456,54,32,345,4]

In [132]:
for i in dfg:
    if i < 100:
        print(i)   
#....boolean indexing....

54
32
4

In [134]:
54 in dfg

True

In [138]:
aa = None

In [136]:
type(aa)

NoneType

In [139]:
# ASSIGNMENT OPERATORS

A = 12

In [152]:
A -= 5

In [153]:
A

17

In [157]:
AA = 15
BB = 5.2

In [158]:
round(AA/BB, ndigits = 2)

2.88

In [128]:
dfg[False:2*True] # True = 1

[123456, 54]

In [ ]:
# boolean indexing...dataframe....
#....